#########################
### Frontend 环境配置 ###
#########################
# 后端服务基础IP地址
NEXT_PUBLIC_BACKEND_BASE_URL=http://localhost:8000  
# 开发环境示例：http://localhost:8000
# 生产环境示例：https://api.your-domain.com
# 注：如果配置为局域网地址则只能在局域网访问，生产环境应配置为后端API域名或公网IP地址

