#####################
# FastAPI configure #
#####################
HOST="0.0.0.0"
PORT=8000
RELOAD=False

######################
# Database configure #
######################
DB_HOST=localhost
DB_PORT=3306
DB_NAME=labflow
DB_USER=root
DB_PASSWORD="******"  # 必须
# 不清楚以下选项修改的后果请勿修改
DB_LOG=False
DB_AUTO_FLUSH=False
DB_EXPIRE_ON_COMMIT=False

######################
##### JWTSetting #####
######################
JWT_SECRET_KEY="4da...d39" # 64位十六进制字符串
JWT_ALGORITHM="HS256"
JWT_EXPIRE_MINUTES=30

######################
#### AgentSetting ####
######################
AGENT_MODEL_NAME="Qwen 3.5"
AGENT_API="https://10.0.0.123:1234/v1"
AGENT_API_KEY="sk-dcd........"