#####################
### FastAPI 配置 ####
#####################
# 服务器监听地址
HOST="0.0.0.0"  # 127.0.0.1 - 仅允许本机访问(一般用于开发环境)
# 服务器端口(可根据实际业务需求修改)
PORT=8000
# 开发模式：开启后修改代码自动重载（开发环境设为 True）
RELOAD=False
# CORS 允许来源（应配置为前端访问地址，格式：协议+域名/IP+端口）
CORS_ALLOW_ORIGINS="*"
# 默认 * 表示允许所有来源（方便联调，但生产环境不安全）
# 生产环境建议示例: 
# CORS_ALLOW_ORIGINS="https://labflow.example.com,http://192.168.1.10:3000"
# 如上，多个ip可通过英文（半角）逗号隔开


######################
####  数据库配置  ####
######################
DB_HOST=localhost          # 数据库主机地址
DB_PORT=3306               # MySQL 默认端口
DB_NAME=labflow            # 数据库名称（如果修改为其他名称则需提前创建数据库及其表结构）
DB_USER=root               # 数据库用户名
DB_PASSWORD="******"       # 数据库密码（必须设置）

# 以下为高级选项，不了解请勿修改
DB_LOG=False               # 是否打印 SQL 日志
DB_AUTO_FLUSH=False        # 自动 flush（影响事务）
DB_EXPIRE_ON_COMMIT=False  # 提交后 expire 对象（影响缓存）


######################
#### JWT 认证配置 ####
######################
# 密钥：64位十六进制字符串（生产环境务必使用强随机密钥）
JWT_SECRET_KEY="your-secret-key-here"
# 推荐生成方式（任选其一）：
# 1) OpenSSL: openssl rand -hex 64
# 2) Python: python -c "import secrets; print(secrets.token_hex(64))"
# 3) Node.js: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
# 注：请保管好此密钥。

# JWT 加密算法（默认 HS256，勿轻易修改）
JWT_ALGORITHM="HS256"
# Token 过期时间（分钟），建议 30-120(如果希望长期保持登录状态可以修改到1-7天(注意单位转换)，但不建议修改为太长的时间)
JWT_EXPIRE_MINUTES=30


#####################
## AI 智能助手配置 ##
#####################
# 注：此配置项如果没有修改将直接导致智能体相关模块无法使用
# 模型名称（需与 AGENT_API 支持的模型匹配）
AGENT_MODEL_NAME="Qwen3.5"
# AI API 地址（支持 OpenAI 兼容接口）
AGENT_API="https://api.example.com/v1"
# API Key（必须修改，一般为sk-开头的字符串）
AGENT_API_KEY="sk-your-api-key"


######################
### 超级管理员配置 ###
######################
# 注：超级管理员一般用于系统初期的用户设置和数据管理，同时为了保障安全性，故硬编码于配置文件中
# 登录账号
SUPER_ADMIN_USERNAME="SuperAdmin@LabFlow.org"
# 登录密码（生产环境务必修改为强密码）
SUPER_ADMIN_PASSWORD="Admin123!"
